*{
    text-decoration: none;
}

header {
    /* background-color: gray;*/
    background-color: lightblue;
}

header .header-brand{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500px;
    /* color: deepskyblue; */
    color:black;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 20px;
}

header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li{
    display: inline-block;
    float: left;
    list-style: none;
    padding-left: 16px;
    padding-right: 16px;
    ;
}

header nav ul li a{
    
}