*{
    text-decoration: none;
    
}

header {
    /* background-color: gray;*/
    background-color:skyblue;
}

header .header-brand{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700px;
    /* color: deepskyblue; */
    color:gray;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 20px;
}

header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li{
    display: inline-block;
    float: left;
    list-style: none;
    padding-left: 16px;
    padding-right: 16px;
    ;
}

header nav ul li a{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

section .Subtitle-banner{
  width: 100%;
  height: 15vh;
  background-image: url(Striped\ Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;


}

section .Subtitle-banner a{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
   text-align: center;

}